<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <receiver
            android:name=".HudSignProbeReceiver"
            android:exported="false" />

        <activity
            android:name=".HudSignProbeActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="T10 vehicle-test status"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
